@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.signup-form {
  position: relative;
  min-height: 100vh;
  z-index: 0;
  background: #ffffff;
  justify-content: center;
  display: grid;
  font-family: "poppins", sans-serif;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  height:auto;
}

.signup-form h2 {
  display: flex;
  line-height: 40px;
  margin-bottom: -200px;
  font-size: 30px;
  font-weight: 600;
  color: #f16a43;
  text-align: center;
  margin-left: 40%;
}
.signup-form h2 p {
  line-height: 40px;
  margin-bottom: -200px;
  font-size: 30px;
  font-weight: 400;
  color: #f16a43;
  text-align: center;
  margin-left: 10px;
}
.signup-form .main {
  position: relative;
  display: flex;
  margin: 30px 0;
}
.content {
  flex-basis: 50%;
  padding: 5em 5em;
  margin-top: 10%;
  height: 590px;
  background: #dbd0be;
  box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 47px;
  border-bottom-left-radius: 47px;
}
.contents {
  flex-basis: 50%;
  background: #ffffff;
  padding: 3em 5em;
  margin-top: 10%;
  border: 3px solid #dbd0be;
  background-size: cover;
  border-top-right-radius: 47px;
  border-bottom-right-radius: 47px;
  align-items: center;
  display: grid;
}
.signup-form .date-details .date-title {
  font-size: 15px;
  font-weight: 500;
}
.signup-form .role-details .role-title {
  font-size: 15px;
  font-weight: 500;
}
.signup-form .gender-details .gender-title {
  font-size: 15px;
  font-weight: 500;
}
.signup-form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
.signup-form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.signup-form .category label .zero {
  height: 18px;
  width: 18px;
  background: #dbd0be;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
#zero-1:checked ~ .category label .one,
#zero-2:checked ~ .category label .two {
  background: #f16a43;
  border-color: #f3f3f3a6;
}
.signup-form input[type="radio"] {
  display: none;
}
p {
  color: #666;
  font-size: 16px;
  line-height: 25px;
  opacity: 0.6;
  text-align: center;
}
.btn,
button,
input {
  border-radius: 35px;
}
.btn:hover,
button:hover {
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s ease;
}
a {
  text-decoration: none;
}
.signup-form form {
  margin: -10px 0;
}
.signup-form input {
  outline: none;
  margin-bottom: 15px;
  font-stretch: 16px;
  color: #999;
  text-align: left;
  padding: 14px 20px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  background: #f7fafc;
  transition: 0.3s ease;
}
.signup-form input:focus {
  background: transparent;
  border: 1px solid #f16a43;
}

.signup-form button {
  font-size: 18px;
  color: #fff;
  width: 100%;
  background: #f16a43;
  border: none;
  padding: 14px 15px;
  font-weight: 600;
  transition: 0.3s ease;
}
p.account a {
  color: #f16a43;
}
p.account a:hover {
  text-decoration: underline;
}
@media (max-width: 736px) {
  .signup-form .main {
    flex-direction: column;
  }
  .signup-form form {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .content {
    order: 1;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .contents {
    order: 1;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
